body {
  margin: 0;
  background-color: #333A42;
}

input.cell {
  width: 18px;
  height: 24px;
  caret-color: white;
  border-style: none;
  background-color: #485058;
  text-align: center;
  color: #F1ECE9;
}

input.cell:focus {
  border-style: none;
  background-color: #D7443F;
  caret-color: #D7443F;
}

.container {
  display: inline-grid;
  grid-template: subgrid;
  grid-gap: 4px;
  justify-items: center;
  align-items: center;
  margin: 20px;
}

#stack-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack-cell {
  background-color: #D7443F;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

h1 {
  margin-top: 24px;
  font-family: 'Ubuntu Mono', monospace;
  color: #F1ECE9;
}

#terminal {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  --background: #1d2226;
  --size: 1.2;
  height: 25%;
}

#top-bar {
  height: 20px;
  background-color: #1d2226;
  margin: 0;
  padding: 4px;
}

.top-bar-button {
  display: inline;
  color: #F1ECE9;
  text-align: center;
  border: 1px solid #1d2226;
  border-radius: 4px;
  margin: 0px;
}

.top-bar-button:hover {
  border-color: #485058;
}

.fa {
  height: 20px;
  width: 20px;
}
